.container {
    width: 940px;
    margin: auto;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #C3C02C;
}

.outerContainer {
    width: 1920px;
    margin: auto;
    border-radius: 25px;
    background-color: #C3C02C;
}

.contentInline {
    width: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 150px;
    border-radius: 25px;
}

.textBackground {
    background-color: #A5A5A5;
    margin: 10px 0px;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
}

.textBackgroundLight {
    background-color: lightgray;
    margin: 10px 0px;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
}

.fullPageImg {
    width: 890px;
    border-radius: 25px;
    padding: 15px 10px 0px 15px;
}

.titlePageImg {
    width: 890px;
    border-radius: 25px;
}

.floating-menu {
    font-family: sans-serif;
    background: yellowgreen;
    padding: 5px;
    ;
    width: 130px;
    z-index: 100;
    position: fixed;
}

.floating-menu a,
.floating-menu h3 {
    font-size: 0.9em;
    display: block;
    margin: 0 0.5em;
    color: white;
}

body {
    background-color: #2F5597;
    color: black;
    font-size: 1.2em;
}

h2 {
    text-align: center;
    color: black;
}

li {
    padding-bottom: 15px;
}

main {
    padding: 10px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}