.container {
    width: 940px;
    margin: auto;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #C3C02C;
}

.contentInline {
    width: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 150px;
    border-radius: 25px;
}

.textBackground {
    background-color: #A5A5A5;
    margin: 10px 0px;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
}

.textBackgroundLight {
    background-color: lightgray;
    margin: 10px 0px;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
}

.fullPageImg {
    width: 890px;
    border-radius: 25px;
    padding: 15px 10px 0px 15px;
}

.titlePageImg {
    width: 890px;
    border-radius: 25px;
}

body {
    background-color: #2F5597;
    color: black;
    font-size: 1.2em;
}

h2 {
    text-align: center;
    color: black;
}

li {
    padding-bottom: 15px;
}